<section class="category" id="category">
        <h1 class="heading">shop by <span>category</span></h1>
        <div class="box-container">
            <div class="box">
                <h3>Apple</h3>
                <p>upto 10% off</p>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.lSYRRs1MEKXP84JCSRnruwHaHa%26pid%3DApi&f=1&ipt=e93b11da9b2bc621c0da6eb52468e7a78b0beeb4f88344cb61008323f99b37a6&ipo=images" alt="">
                <a href="#" class="btn">shop now</a>
            </div>
            <div class="box">
                <h3>Samsung</h3>
                <p>upto 24% off</p>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.p7FQX1SMM3kSVQiyi09brwHaHa%26pid%3DApi&f=1&ipt=052cf3e4c23db9a9986dc60768f51ec34a3aa6342d70c548ab06c5a286a50d1d&ipo=images" alt="">
                <a href="#" class="btn">shop now</a>
            </div>
            <div class="box">
                <h3>Oppo</h3>
                <p>upto 35% off</p>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.5YLyPzAKz9VA537lbv-orAHaHa%26pid%3DApi&f=1&ipt=c4e40d4013c5ca23cadf5afca3ef76d2810310a8c214bda781d7a5aaaf1d8a44&ipo=images" alt="">
                <a href="#" class="btn">shop now</a>
            </div>
            <div class="box">
                <h3>Vivo</h3>
                <p>upto 42% off</p>
                <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.l64X4e-TkjPaU3PKCS5DrwHaHa%26pid%3DApi&f=1&ipt=2c63044591523d61120de21b780d0daa2a8bf54b2c4cc80b471ec55a7fb17d3b&ipo=images" alt="">
                <a href="#" class="btn">shop now</a>
            </div>
        </div>
    </section>