<section class="contact" id="contact">
    <h1 class="heading"> <span>contact</span> us </h1>
    <form action="">
        <div class="inputBox">
            <input type="text" placeholder="name">
            <input type="email" placeholder="email">
        </div>
        <div class="inputBox">
            <input type="number" placeholder="number">
            <input type="text" placeholder="subject">
        </div>
        <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
        <input type="submit" value="send message" class="btn">
    </form>
</section>
<section class="newsletter">
    <h3>subscribe us for latest updates</h3>
    <form action="">
        <input class="box" type="email" placeholder="enter your email">
        <input type="submit" value="subscribe" class="btn">
    </form>
</section>
<section class="footer">
    <div class="box-container">
        <div class="box">
            <a href="#" class="logo"><i class="fa fa-mobile" aria-hidden="true"></i>SMARTPHONE STORE</a>
            <p>We've rounded up all of this week's best cell phone deals into one handy page right here, including all the latest Google Pixel 7 and 7 Pro deals - both of which have literally just been announced. These promos join a host of excellent options for the iPhone 14, Galaxy S22, and other leading devices. Regardless of what type of device you're looking for, our recommended list of the best cell phone deals factors in all brands - and all types of retailers!</p>
            <div class="share">
                <a href="#" class="btn fab fa-facebook-f"></a>
                <a href="#" class="btn fab fa-twitter"></a>
                <a href="#" class="btn fab fa-instagram"></a>
                <a href="#" class="btn fab fa-linkedin"></a>
            </div>
        </div>       
        <div class="box">
            <h3>our location</h3>
            <div class="links">
                <a href="#">india</a>
                <a href="#">USA</a>
                <a href="#">france</a>
                <a href="#">japan</a>
                <a href="#">russia</a>
            </div>
        </div>
        <div class="box">
            <h3>quick links</h3>
            <div class="links">
                <a href="#">home</a>
                <a href="#">category</a>
                <a href="#">product</a>
                <a href="#">deal</a>
                <a href="#">contact</a>
                <a hreg="#">Help</a>
            </div>
        </div>
        <div class="box">
            <h3>download app</h3>
            <div class="links">
                <a href="#">google play</a>
                <a href="#">window xp</a>
                <a href="#">app store</a>
            </div>
        </div>
    </div>
    <h1 class="credit"> created by <span> mr. Sai designer </span> | all rights reserved! </h1>
</section>