<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smartphone Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
    <div class="header-1">
        <a href="#" class="logo"><i class="fa fa-mobile" aria-hidden="true"></i>SMARTPHONE STORE</a>
        <form action="" class="search-box-container">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </form>
    </div>
    <div class="header-2">
        <div id="menu-bar" class="fas fa-bars"></div>
        <nav class="navbar">
            <a href="#home" routerLink="/home">home</a>
            <a href="#category" routerLink="/category">category</a>
            <a href="#product" routerLink="/product">product</a>
            <a href="#deal" routerLink="/deal">deal</a>
            <a href="#contact" routerLink="/contact">contact</a>
        </nav>
        <div class="icons">
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-user-circle"></a>
        </div>
    </div>
</header>

</body>
</html>
<router-outlet></router-outlet>