<section class="product" id="product">
    <h1 class="heading">latest <span>products</span></h1>
    <div class="box-container">
        <div class="box">
            <span class="discount">-3%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.USEk_1Lqxkdw7-OupCqnZgHaG4%26pid%3DApi&f=1&ipt=e03e7b8921168c19b3f5346e7c0da9823c321eee475875adbc00ad7e05a9a258&ipo=images" alt="">
            <h3>Vivo Y11</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $19.50 <span> $23.20 </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">                
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
            <span class="discount">-5%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.AWDlQ1F7mtQNW-JAnl-1NgHaI-%26pid%3DApi&f=1&ipt=5b88a18f3c419641e25f40f84fc1f140ef94d3c602f4402e86589d3c596fb5d6&ipo=images" alt="">
            <h3>Samsung Galaxy S10</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $20.50 <span> $25.20 </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">                
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
            <span class="discount">-2%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.laffH28mggq_0-Z96XEzDwHaHa%26pid%3DApi&f=1&ipt=cdf44460fbf1799c6ff9831da83d2541b40ed4dc68f4d00de829a41b2dad47df&ipo=images" alt="">
            <h3>Samsung Galaxy Note 9</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $30.50 <span> $31.20 </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">                
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
            <span class="discount">-13%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.KMDnC4RPumSGHG5a_vj_rwHaHa%26pid%3DApi&f=1&ipt=7aeaf02203c0423967c9b04f8a1add6a89904123955b7fa7b124b61605beecef&ipo=images" alt="">
            <h3>Apple iphone 14 Pro</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $35.50 <span> $42.20 </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">                
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
            <span class="discount">-6%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.TB-AHCyILprDquNPpv4fqwHaEK%26pid%3DApi&f=1&ipt=08b4ba5110b3c22ec4420964190fc532aa8269ef88f21b924678620ba36ee67a&ipo=images" alt="">
            <h3>iphone 14</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $37.50 <span> $40.20 </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">               
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
            <span class="discount">-9%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.5YLyPzAKz9VA537lbv-orAHaHa%26pid%3DApi&f=1&ipt=c4e40d4013c5ca23cadf5afca3ef76d2810310a8c214bda781d7a5aaaf1d8a44&ipo=images" alt="">
            <h3>Oppo A9x</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $20.50 <span> $23.20 </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">            
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
            <span class="discount">-5%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.EPTbsyIuSfoo5LV44BfWfQHaHa%26pid%3DApi&f=1&ipt=984c765df74e98317dda22bc10ed90fbae7f38c131cd967379d357988ea43455&ipo=images" alt="">
            <h3>Vivo V20SE</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $25.50 <span> $28.20 </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">       
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
            <span class="discount">-13%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.y9_rbcV5zs822Dis7NjwqwHaHa%26pid%3DApi&f=1&ipt=00608b6b3f33deb31655ecc34be62dcb18cfbfde8f1057abfa1b1f0f15bb0610&ipo=images" alt="">
            <h3>Samsung A52</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $40.50 <span> $43.20 </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">               
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>
        <div class="box">
            <span class="discount">-4%</span>
            <div class="icons">
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-share"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.gFGmEGVFFz9kxKY36P8p1AHaMK%26pid%3DApi&f=1&ipt=298b99bdf303346f28a744fefab8d637d6fa89cd8688d04eaeba14ce8ab3407e&ipo=images" alt="">
            <h3>iPhone 13 Pro Max</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <div class="price"> $36.50 <span> $38.20 </span> </div>
            <div class="quantity">
                <span>quantity : </span>
                <input type="number" min="1" max="1000" value="1">                
            </div>
            <a href="#" class="btn">add to cart</a>
        </div>
    </div>
</section>