<section class="home" id="home">
    <div class="image">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.6Ds_8M7uHSxCquMYooNv8wHaEK%26pid%3DApi&f=1&ipt=52c18acb562f48b9ede93525256c70aa10081eef3ebcdec7b9f4afea7475ff9c&ipo=images" alt="">
    </div>
    <div class="content">
        <span>Mobiles</span>
        <h3>World Is In Your Hand</h3>
        <a href="#" class="btn">get started</a>
    </div>
  </section>
  <section class="banner-container">
    <div class="banner">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.W67NDY-FR7CtYwdhDj1ZqgHaC4%26pid%3DApi&f=1&ipt=949250cc86c338ec27afc38a609995e89bde25bfed04b6a62cea23143c9ddf2d&ipo=images" alt="">
        <div class="content">
            <h3>special offer</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">check out</a>
        </div>
    </div>
    <div class="banner">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.f70x2_qjDFKdZLVABaLYnQHaFO%26pid%3DApi&f=1&ipt=5d90aad381007d029748e9b0dc422e70eef5c788b654fab97dfc846cc290e117&ipo=images" alt="">
        <div class="content">
            <h3>limited offer</h3>
            <p>upto 50% off</p>
            <a href="#" class="btn">check out</a>
        </div>
    </div>
  </section>